.footer {
	padding: 60px 0 70px;

	@include media-mobile {
		padding: 32px 0 28px;
	}
}

.footer__wrapper {
	display: flex;

	@include media-tablet {
		flex-direction: column;
	}

	@include media-mobile {
		flex-direction: column;
	}
}

.logo {}

.footer-navigation {
	flex-grow: 1;
	padding-left: 152px;

	@include media-tablet {
		padding-left: 0;
		margin-top: 34px;
	}

	@include media-mobile {
		margin-top: 27px;
		flex-direction: column;
		padding-left: 0;
	}
}

.layout-3-column {}

.footer-navigation__column {}

.footer-navigation__title {
	margin: 0 0 15px;
	color: $color-heading;
	@extend %font-prim;
	@include font ($size: 2rem, $weight: 600, $height: 3rem);
}

.footer-navigation__links {
	@extend %font-add;

	a {
		color: $color-text;
		text-decoration: none;
		@extend %transition;
		@include font ($size: 1.6rem, $weight: 400, $height: 3.5rem);

		&:hover {
			color: $color-primary;
		}
	}
}

.logo__footer {
	margin-top: 0;
}