.navigation {
	display: flex;
	gap: 17px;
	list-style-type: none;
	align-items: center;
	@include font (1.5rem, 2.8rem, $weight: 400);
}

.navigation__link {
	cursor: pointer;
	// color: $color-heading;
	// font-family: Open Sans;
	@extend %transition;
	&:hover {
		color: $color-primary;
	}

}